.colorlib-about
      .colorlib-narrow-content
        .row.row-bottom-padded-md
          .col-md-6
            .about-img.animate-box(data-animate-effect='fadeInLeft', style='background-image: url(images/brick-house-128.jpg);')
          .col-md-6.animate-box(data-animate-effect='fadeInLeft')
            .about-desc
              span.heading-meta forestbricks
              h2.colorlib-heading кто мы
              p Единственный производитель, выпускающий деревянный блок Forest Brick
              p
                |Натуральный и экологичный строительный материал из массивной древесины, созданный самой природой! Деревянный блок выпускается на современном деревообрабатывающем производстве, расположенном в Ленинградской области и оборудованном станками ведущих европейских фирм, прошедшем модернизацию под технологические требования.
            .row.padding
              .col-md-4.no-gutters.animate-box(data-animate-effect='fadeInLeft')
                a.steps.active(href='#')
                  p.icon
                    span
                      i.icon-check
                  h3
                    | внешняя
                    br
                    | эстетика
              .col-md-4.no-gutters.animate-box(data-animate-effect='fadeInLeft')
                a.steps(href='#')
                  p.icon
                    span
                      i.icon-check
                  h3
                    | эко-
                    br
                    | логичность
              .col-md-4.no-gutters.animate-box(data-animate-effect='fadeInLeft')
                a.steps(href='#')
                  p.icon
                    span
                      i.icon-check
                  h3
                    | энерго-
                    br
                    | эффективность
                    br
        .row
          .col-md-4.animate-box(data-animate-effect='fadeInLeft')
            h2.colorlib-heading цикл производства
            p
              | Домокомплект представляет собой набор готовых элементов для сборки дома и может быть изготовлен по одному из типовых проектов или по индивидуальному проекту заказчика. Изготовление и поставка Домокомплекта производится на Ваш выбор из трех комплектаций «Стеновой», «Базовый», «Оптимальный».
          .col-md-8.animate-box(data-animate-effect='fadeInRight')
            .fancy-collapse-panel
              #accordion.panel-group(role='tablist', aria-multiselectable='true')
                .panel.panel-default
                  #headingOne.panel-heading(role='tab')
                    h4.panel-title
                      a(data-toggle='collapse', data-parent='#accordion', href='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
                        | распиловка цдс
                  #collapseOne.panel-collapse.collapse.in(role='tabpanel', aria-labelledby='headingOne')
                    .panel-body
                      p
                        |Сырьем для производства деревянного кирпича является высококачественный пиломатериал хвойных пород (сосна, ель), который получают путем продольного распила на дисковой пилораме ЦДС-1100 
                .panel.panel-default
                  #headingTwo.panel-heading(role='tab')
                    h4.panel-title
                      a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
                        | сушка SECEA
                  #collapseTwo.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingTwo')
                    .panel-body
                      p
                        | Пиломатериал сортируют и укладывают в пакеты для дальнейшей загрузки в сушильные камеры. По разработанной технологии для изготовления деревянного блока пиломатериал высушивают до влажности 12±2% в автоматических сушильных камерах Secea (Италия), позволяющих произвести равномерную сушку
                .panel.panel-default
                  #headingThree.panel-heading(role='tab')
                    h4.panel-title
                      a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapseThree', aria-expanded='false', aria-controls='collapseThree')
                        | строжка weinig
                  #collapseThree.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingThree')
                    .panel-body
                      p
                        | Сухой пиломатериал подается в цех, в зону торцовки досок маятниковой пилой. В результате операции получаются заготовки, которые поступают на первый этап обработки (строжки) четырехсторонним продольно-фрезерный станок WEINIG Profimat 50 (Германия), на выходе представляют собой калиброванные элементы со строгими геометрическими размерами
                .panel.panel-default
                  #headingFour.panel-heading(role='tab')
                    h4.panel-title
                      a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapseFour', aria-expanded='false', aria-controls='collapseFour')
                        | шиповка friulmac
                  #collapseFour.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingFour')
                    .panel-body
                      p
                        | На шипорезном станке FRIULMAC (Италия) производится нарезка шипов на торцах заготовки, а также формирование фасок на углах будущего изделия, с обеих сторон за один проход. Далее происходит окончательный этап обработки на четырехстороннем станке WEINIG Profimat 50 (Германия), заключающийся в изготовлении пазов, направляющих и декоративной строжки кромок.
                .panel.panel-default
                  #headingFive.panel-heading(role='tab')
                    h4.panel-title
                      a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapseFive', aria-expanded='false', aria-controls='collapseFive')
                        | обработка rover
                  #collapseFive.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingFive')
                    .panel-body
                      p
                        | Параметры стандартного элемента: длина 650 мм, ширина 193 мм, высота 68 мм. Все соединительные элементы домокомплекта изготавливаются на обрабатывающем центре с ЧПУ BIESSE Rover (Италия), что позволяет произвести качественную и быструю сборку.
                .panel.panel-default
                  #headingSix.panel-heading(role='tab')
                    h4.panel-title
                      a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapseSix', aria-expanded='false', aria-controls='collapseSix')
                        | упаковка
                  #collapseSix.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingSix')
                    .panel-body
                      p
                        | Готовые изделия обрабатываются антисептиком для защиты от внешних воздействий на период транспортировки, сортируются и укладываются на деревянные поддоны в паллеты, маркируются и упаковываются.