#colorlib-counter.colorlib-counters(style='background-image: url(images/cover_bg_1.jpg);', data-stellar-background-ratio='0.5')
      .overlay
      .colorlib-narrow-content
        .row
        .row
          .col-md-3.text-center.animate-box
            span.icon
              i.flaticon-skyline
            span.colorlib-counter.js-counter(data-from='0', data-to='35', data-speed='5000', data-refresh-interval='50')
            span.colorlib-counter-label проектов
          .col-md-3.text-center.animate-box
            span.icon
              i.flaticon-engineer
            span.colorlib-counter.js-counter(data-from='0', data-to='15', data-speed='5000', data-refresh-interval='50')
            span.colorlib-counter-label сотрудников
          .col-md-3.text-center.animate-box
            span.icon
              i.flaticon-architect-with-helmet
            span.colorlib-counter.js-counter(data-from='0', data-to='5', data-speed='5000', data-refresh-interval='50')
            span.colorlib-counter-label архитекторов
          .col-md-3.text-center.animate-box
            span.icon
              i.flaticon-worker
            span.colorlib-counter.js-counter(data-from='0', data-to='10', data-speed='5000', data-refresh-interval='50')
            span.colorlib-counter-label партнеров