a.js-colorlib-nav-toggle.colorlib-nav-toggle(href='#')
  i
aside#colorlib-aside.border.js-fullheight(role='complementary')
  h1#colorlib-logo
    a(href='index.html') Forestbricks
  nav#colorlib-main-menu(role='navigation')
    ul
      li
        a(href='index.html') главная
      li
        a(href='work.html') проекты
      li
        a(href='about.html') о нас
      li
        a(href='contact.html') контакты
  .colorlib-footer
    p
      small
        | Экологичные дома ручной сборки из натурального дерева
    ul
      li
        a(href='#')
          i.icon-facebook2
      li
        a(href='#')
          i.icon-twitter2
      li
        a(href='#')
          i.icon-instagram
      li
        a(href='#')
          i.icon-linkedin2

